.main-form {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: var(--white-color);
    border-radius: 4px;

    .input-group {
        display: flex;
        flex-direction: column;
        margin-top: 8px;
    }

    .input-label {
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 4px;
    }

    .input-text {
        flex: 1;
        padding: 8px;
        border-radius: 4px;
        line-height: 1.6rem;
        border: 1px solid var(--primary-border-color);
    }
    .remember-and-forgot {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.2rem;
        margin-top: 12px;

        .remember {
            display: flex;
        }

        .remember input {
            margin-right: 4px;
        }

        .forgot-link {
            color: blue;
        }
    }

    .action-btn {
        margin-top: 12px;
        padding: 8px 20px;
    }
}
