@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

:root {
    //Colors
    --primary-color: #f1c50e;
    --primary-border-color: #f0e68c;
    --white-color: #fff;
    --text-color: #333;
    --parked-color: #28a745;
    --empty-color: #696969;
    --your-color: #ffd700;
    --car-color: #556ee6;
    --bus-color: #f1b44c;
    --truck-color: #34c38f;
    --maintenance-color: red;

    //Width
    --default-layout-max-width: 1150px;

    //Height
    --default-header-height: 52px;
    --default-content-min-height: calc(100vh - var(--default-header-height) - var(--default-footer-height));
    --default-footer-height: 52px;

    //Fonts
    --font-family: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

//Overlay scroll bar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}
